.btn-pill {
  margin: 2px;
  pointer-events: none;
}

.progress {
  margin-top: 1em;
}

.btn-list {
  display: list-item;
  text-align: left !important;
}

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
