.btn-pill {
  margin: 2px;
  pointer-events: none;
}

.progress {
  margin-top: 1em;
}

.btn-list {
  display: list-item;
  text-align: left !important;
}

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.btn-pill a {
  pointer-events: all !important;
}

button a {
  color: #23282c !important;
  cursor: pointer;
}

button span {
  color: white !important;
}

button.text-white a {
    color: white !important;
}