<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h1 class="title">
        Your Organization(s) Details
      </h1>
      <!--      <div class="card-group"> -->
      <div class="card card-accent-primary">

        <div class="card-header">
          <div class="row">
            <div class="col-sm-4 col-md-4">
              <button type="button" class="btn btn-block btn-outline-primary" (click)="newOrg()">
                New Organization
              </button>
            </div>
          </div>
        </div>

        <div class="card-body" *ngIf="orgs; else loading">
          <div *ngFor="let o of orgs; index as i">
            <form>
              <div class="row">
                <div class="col-sm-6 col-md-8">
                  <!--  <p class="text-muted"> {{ o.name }} Details</p>-->
                  <h1> {{ o.name }} Details</h1>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-briefcase"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Organization Name" name="name" required
                      [(ngModel)]="o.name">
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-briefcase"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Organization Description" name="description"
                      required [(ngModel)]="o.description">
                  </div>
                </div>
                <div class="col-sm-6 col-md-3 text-right">
                  <button type="button" class="btn btn-outline-danger px-4 mt-3 " (click)="delete(i)">Delete organization</button>
                  <button type="button" class="btn btn-outline-primary px-4 mt-3 " (click)="save(i)">Save changes</button>
                </div>
                <div [hidden]="currentOrg && o._id != currentOrg._id" class="col-sm-6 col-md-1 mt-5 text-center">
                  <p class="text-success mt-3" [innerText]="msgSaved" [hidden]="!msgSaved"></p>
                </div>
              </div>
              <p class="text-muted"> Add / Remove users or change permissions</p>
              <div class="row">
                <div class="col-sm-6 col-md-3 mb-3"> Name
                </div>
                <div class="col-sm-6 col-md-3 mb-3"> Email
                </div>
                <div class="col-sm-6 col-md-2 mb-3 text-center"> Permission
                </div>
                <div class="col-sm-6 col-md-2 mb-3 text-center"> Click to change
                </div>
                <div class="col-sm-6 col-md-2 mb-3 text-center"> Remove
                </div>
              </div>
              <div *ngFor="let admin of o.adminUser" class="row">
                <div class="col-sm-6 col-md-3 mb-3"> {{admin.name}}
                </div>
                <div class="col-sm-6 col-md-3 mb-3"> {{admin.email}}
                </div>
                <div class="col-sm-6 col-md-2 mb-3 text-center"> Admin
                </div>
                <div class="col-sm-6 col-md-2 mb-3 text-center">
                  <div class="btn-group" role="group" aria-label="Admin or Regular">
                    <button type="button" class="btn btn-primary">Admin</button>
                    <button type="button" class="btn btn-outline-primary"
                      (click)="makeRegularUser(i, admin._id)">Regular</button>
                  </div>
                </div>
                <div class="col-sm-6 col-md-2 mb-3 text-center">
                  <button type="button" class="btn  btn-outline-primary px-4"
                    (click)="removeUser(i, admin._id, 'admin')"><i class="icon-trash"></i></button>
                </div>
              </div>
              <div *ngFor="let reg of o.regularUser" class="row">
                <div class="col-sm-6 col-md-3 mb-3"> {{reg.name}}
                </div>
                <div class="col-sm-6 col-md-3 mb-3"> {{reg.email}}
                </div>
                <div class="col-sm-6 col-md-2 mb-3 text-center"> Regular
                </div>
                <div class="col-sm-6 col-md-2 mb-3 text-center">
                  <div class="btn-group" role="group" aria-label="Admin or Regular">
                    <button type="button" class="btn btn-outline-primary" (click)="makeAdminUser(i, reg._id)">Admin</button>
                    <button type="button" class="btn btn-primary">Regular</button>
                  </div>
                </div>
                <div class="col-sm-6 col-md-2 mb-3 text-center">
                  <button type="button" class="btn btn-outline-primary px-4"
                    (click)="removeUser(i, reg._id, 'regular')"><i class="icon-trash"></i></button>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-9 mb-3">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-plus"></i></span>
                    </div>
                    <input #emailToAdd type="email" class="form-control" placeholder="User email to add" name="email">
                  </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-3 text-center">
                  <button type="button" class="btn  btn-outline-primary px-4"
                    (click)="addUserToOrg(i, emailToAdd.value)"> Add
                    user</button>
                </div>
                <div [hidden]="currentOrg && o._id != currentOrg._id" class="col-sm-12 col-md-12 mb-3 text-center">
                  <p class="text-success" [innerText]="msgUsrSaved" [hidden]="!msgUsrSaved"></p>
                  <p class="text-danger" [innerText]="msgUsrError" [hidden]="!msgUsrError"></p>
                </div>
              </div>
            </form>
            <hr>
          </div>
        </div>
        <ng-template #loading>
          <app-loading-indicator></app-loading-indicator>
        </ng-template>
      </div>
    </div>
  </div>
</div>