.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.text-level {
  color: #1a80b6;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 1em;
  font-size: smaller;
}

.text-lastupdated {
  font-size: small;
  font-weight: bolder;
  color: #73818f !important;
}

.bolder {
  font-weight: bolder;
}