.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.text-level {
  color: #1a80b6;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 1em;
  font-size: smaller;
}

.text-lastupdated {
  font-size: small;
  font-weight: bolder;
  color: #73818f !important;
}

.bolder {
  font-weight: bolder;
}


.pagination>.page-item>.page-link,
.pagination>.page-item>span {
  border: 0;
  border-radius: 30px !important;
  transition: all .3s;
  padding: 0px 11px;
  margin: 0 3px;
  min-width: 30px;
  height: 30px;
  line-height: 30px;
  color: #999999;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  background: transparent;
  text-align: center;
}

.pagination>.page-item>.page-link:hover,
.pagination>.page-item>.page-link:focus,
.pagination>.page-item>span:hover,
.pagination>.page-item>span:focus {
  color: #999999;
  background-color: #1b7fb626;
}

.pagination>.page-item.active>a,
.pagination>.page-item.active>span {
  color: #999999;
}

.pagination>.page-item.active>a,
.pagination>.page-item.active>a:focus,
.pagination>.page-item.active>a:hover,
.pagination>.page-item.active>span,
.pagination>.page-item.active>span:focus,
.pagination>.page-item.active>span:hover {
  background-color: #1a80b6;
  border-color: rgb(9, 42, 59);
  color: #fff;
  box-shadow: 0 4px 5px 0 rgba(9, 42, 59, 0.14), 0 1px 10px 0 rgba(9, 42, 59, 0.12), 0 2px 4px -1px rgba(9, 42, 59, 0.2);
}

.no-decoration {
 text-decoration: none;
}

.text-normal {
 color: #23282c;
}
