<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-4 col-md-2">
              <button
                type="button"
                class="btn btn-block btn-outline-primary"
                routerLink="/newop/empty"
              >
                New Occupational Profile
              </button>
            </div>
            <div class="col-sm-4 offset-md-4 col-md-4">
              <div class="input-group">
                <span class="input-group-prepend">
                  <button class="btn btn-primary" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
                <input
                  class="form-control"
                  id="input1-group2"
                  type="search"
                  name="input1-group2"
                  placeholder="Search"
                  autocomplete="search"
                  [(ngModel)]="searchText"
                  (keyup)="filter()"
                />
              </div>
            </div>
            <div class="col-sm-4 col-md-2">
              <button
                type="button"
                class="btn btn-block btn-link"
                (click)="advancedSearch = !advancedSearch"
              >
                Advanced Search
              </button>
            </div>

            <!-- Advanced search -->
            <ng-container *ngIf="advancedSearch">
              <div class="card-body" style="justify-content: right">
                <span class="input-group-prepend">
                  <label
                    class="switch switch-label switch-pill switch-outline-primary-alt"
                  >
                    <input
                      class="switch-input"
                      type="checkbox"
                      value="knowledges"
                    />
                    <span
                      class="switch-slider"
                      data-checked="✓"
                      data-unchecked="X"
                    ></span>
                  </label>
                  <div class="pl-1">Knowledges</div>
                </span>
                <span class="input-group-prepend">
                  <label
                    class="switch switch-label switch-pill switch-outline-primary-alt"
                  >
                    <input
                      class="switch-input"
                      type="checkbox"
                      value="skills"
                    />
                    <span
                      class="switch-slider"
                      data-checked="✓"
                      data-unchecked="X"
                    ></span>
                  </label>
                  <div class="pl-1">Skills</div>
                </span>
                <span class="input-group-prepend">
                  <label
                    class="switch switch-label switch-pill switch-outline-primary-alt"
                  >
                    <input
                      class="switch-input"
                      type="checkbox"
                      vale="competences"
                    />
                    <span
                      class="switch-slider"
                      data-checked="✓"
                      data-unchecked="X"
                    ></span>
                  </label>
                  <div class="pl-1">Compentences</div>
                </span>
              </div>
            </ng-container>
          </div>
        </div>

        <div class="card-body">
          <div *ngFor="let o of filteredOccuProfiles" class="row">
            <div class="col-md-10">
              <button
                type="button"
                class="btn text-justify"
                routerLink="/detail/{{ o._id }}"
              >
                <h1>{{ o.title }}</h1>
                <p>{{ o.description }}</p>
                <span class="badge badge-pill badge-danger float-right"
                  >[GD1] Geolocating Data to Earth
                </span>
                <span class="badge badge-pill badge-primary float-right"
                  >[AM7-7] Bayesian methods</span
                >
                <span class="badge badge-pill badge-success float-right"
                  >[DM3-5] The Triangulated Irregular Network (TIN) model</span
                >
              </button>
            </div>
            <div class="col-md-2">
              <div class="row">
                <div class="col-sm-4 col-md-4">
                  <button
                    type="button"
                    class="btn btn-block btn-link"
                    routerLink="/newop/duplicate/{{ o._id }}"
                  >
                    <i class="fa fa-copy fa-lg mt-4"></i>
                  </button>
                </div>
                <div class="col-sm-4 col-md-4">
                  <button
                    type="button"
                    class="btn btn-block btn-link"
                    routerLink="/newop/copy/{{ o._id }}"
                  >
                    <i class="fa fa-edit fa-lg mt-4"></i>
                  </button>
                </div>
                <div class="col-sm-4 col-md-4">
                  <button
                    type="button"
                    class="btn btn-block btn-link"
                    (click)="removeOccuProfile(o._id)"
                  >
                    <i class="fa fa-trash-o fa-lg mt-4"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
