<div class="row">
  <div class="col-sm-4 col-md-4">
    <button type="button" class="btn btn-block btn-link" (click)="copyText(); pop.show()">
      <i class="fa fa-link fa-lg mt-4"></i>
    </button>
  </div>
  <div class="col-sm-4 col-md-4">
    <button type="button" class="btn btn-block btn-link" (click)="generatePDF(); poppdf.show()">
      <i class="fa fa-file-pdf-o fa-lg mt-4"></i>
    </button>
  </div>
  <div class="col-sm-4 col-md-4">
    <button type="button" class="btn btn-block btn-link">
      <i class="fa fa-file-code-o fa-lg mt-4"></i>
    </button>
  </div>
</div>
<span tooltip="Copied to clipboard!" triggers="click" #pop="bs-tooltip">
</span>
<span tooltip="Check your downloads folder!" triggers="click" #poppdf="bs-tooltip">
  </span>