.btn-pill {
    margin: 2px;
}

.dropdown-item {
    padding: 0px 15px 0px;
    border-bottom: 0;
}

.badge-pill {
    vertical-align: super;
}

#bubbles {
    margin: 0.2em;
}

h5 {
    display: inline;
}

#texBoK {
    font-size: smaller;
}

ngx-select-dropdown {
    width: 100%;
}

.inline {
    display: inline-block;
    margin-left: 1em;
    margin-top: 1em;
}

a {
    color: #1b8eb7 !important;
}