<div class="animated fadeIn">
  <h1 class="title">{{ title }}</h1>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="card card-accent-primary">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-4 col-md-2"></div>
            <div class="col-sm-4 offset-md-4 col-md-4"></div>
            <div class="col-sm-4 col-md-2 text-right">
              <button type="submit" class="btn btn-pill btn-primary" (click)="saveOccuProfile()" routerLink="/list">
                Save
              </button>
            </div>
          </div>
        </div>
        <!-- card body -->
        <div class="card-body">
          <form #newOPForm="ngForm">
            <!-- general info card -->
            <div class="card card-accent-secondary">
              <div class="card-header">
                General Information
                <span
                  tooltip="The occupational profile knowledge represent the comprehensive awareness in certain areas/domains, which complete the list of theoretical capacity learning."
                  class="badge badge-primary badge-pill">i</span>
              </div>
              <div class="card-body" style="background-color: #faf9f8">
                <div class="row">
                  <div class="col-md-8">
                    <div class="form-group">
                      <label for="title">Title</label>
                      <input type="text" class="form-control" id="title" placeholder="Title" [(ngModel)]="model.title"
                        name="title" required />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8">
                    <div class="form-group">
                      <label for="field">Field</label>
                      <span
                        tooltip="The term relates directly to a specific area of study. The International Standard Classification of Education: Fields of Education and Training 2013 (ISCED-F). Maintained by the UNESCO Institute for Statistics."
                        class="badge badge-primary badge-pill">i</span>
                      <ng-select [items]="fieldsService.allfields" name="field" bindLabel="name" groupBy="grandparent"
                        [multiple]="false" [(ngModel)]="model.field">
                        <ng-template ng-optgroup-tmp let-item="item">
                          {{item.grandparent || 'Unnamed group'}}
                        </ng-template>
                      </ng-select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-11">
                    <div class="form-group">
                      <label for="description">Description</label>
                      <textarea class="form-control" id="description" placeholder="Description" name="textarea-input"
                        [(ngModel)]="model.description" rows="4"></textarea>
                    </div>
                  </div>
                  <div class="col-md-1">
                    <div class="form-group">
                      <label for="eqf">EQF</label>
                      <span
                        tooltip="The core of the EQF concerns eight reference levels describing what a learner knows, understands and is able to do – 'learning outcomes', ranging from basic (Level 1) to advanced (Level 8)."
                        class="badge badge-primary badge-pill">i</span>
                      <input type="number" size="1" class="form-control" id="eqf" [(ngModel)]="model.eqf" name="eqf"
                        min="1" max="8" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <!-- <hr /> -->
          <!-- Search Knowledge and skills card -->
          <div class="card card-accent-secondary">
            <div class="card-header">
              Search knowledge and skills
              <span
                tooltip="Browse in the BoK for knowledge required for your new occupational profile. Once in the required knowledge, press the button 'Add' it will link the concept and the learning outcomes dependent on it."
                class="badge badge-primary badge-pill">i</span>
            </div>
            <div class="card-body" style="background-color: #faf9f8">
              <div class="row text-center">
                <div class="col-lg-4 col-sm-6">
                  <div class="row text-center">
                    <div class="offset-md-2 col-md-6">
                      <div class="input-group">
                        <div class="input-group-prepend" dropdown>
                          <button type="button" class="btn btn-primary">
                            <i class="fa fa-search"></i>
                          </button>
                        </div>
                        <input #searchInput type="text" id="input-competence-filter" name="input-competence-filter"
                          class="form-control" (keyup)="searchInBok(searchInput.value)"
                          placeholder="Search Knowledge" />
                      </div>
                    </div>
                    <div class="col-md-3">
                      <button type="submit" class="btn btn-primary"
                        tooltip="Search or navigate in the graph to add knowledge." (click)="addBokKnowledge()">
                        Add
                      </button>
                    </div>
                  </div>
                  <div id="bubbles">
                  </div>
                </div>
                <div class="col-lg-8 col-sm-6 text-justify">
                  <a [hidden]="currentConcept != ''" (click)="navigateToConcept('GIST')">
                    < Back </a> <div #textBoK id="textBoK" [hidden]="currentConcept == '' && currentConcept != 'GIST'">
                </div>
                <div class="col" *ngIf="hasResults">
                  <h3 class="center">
                    {{ selectedNodes.length }} result(s) for
                    {{ searchInput.value }}
                  </h3>
                  <div *ngFor="let item of selectedNodes; index as i">
                    <div *ngIf="i < limitSearch">
                      <div class="inline">{{ item.nameShort }}</div>
                      <div class="inline" [innerHTML]="
                            item.name | truncate: 100:searchInput.value
                          "></div>
                      <a class="inline" (click)="navigateToConcept(item.nameShort)">
                        Details
                      </a>
                      <div class="small" [innerHTML]="
                            item.description | truncate: 100:searchInput.value
                          "></div>
                    </div>
                  </div>
                  <div>
                    <br />
                    <a *ngIf="limitSearch < selectedNodes.length" (click)="incrementLimit()">
                      Show more ...
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Knowledge added card -->
        <div class="card card-accent-secondary">
          <div class="card-header">Knowledge required <span
              tooltip="Knowledge is the body of facts, principles and theories and practices that is related to a field of work or study."
              class="badge badge-primary badge-pill">i</span></div>
          <div class="card-body" style="background-color: #faf9f8">
            <div class="col-md-12">
              <p *ngIf="model.knowledge.length == 0">You didn't add any knowledge required yet. Browse in the BoK in
                previous section to add some.</p>
              <button *ngFor="let mk of model.knowledge.slice().reverse()" type="button" class="btn btn-pill"
                [ngClass]="'bok-' + (mk | slice: 1:3)" (click)="removeCompetence(mk, model.knowledge); associatedSkillsToDelete > 0 ? dangerModal.show(): null">
                <i class="fa fa-close"></i> {{ mk }}
              </button>
            </div>
          </div>
        </div>
        <!-- Skills added card -->
        <div class="card card-accent-secondary">
          <div class="card-header">
            Skills required
            <span
              tooltip="Skills represent the ability to apply knowledge and use know-how to complete tasks and solve problems in a certain occupational profile. Skills are associated with Body of Knowledge concepts or can be manually added."
              class="badge badge-primary badge-pill">i</span>
          </div>
          <div class="card-body" style="background-color: #faf9f8">
            <div class="row">
              <div class="col-md-12">
                <p *ngIf="model.skills.length == 0">You didn't add any skills required yet. Browse in the BoK in
                  previous section to add some.</p>
                <div *ngIf="model.skills.length > 0">
                  <button *ngFor="let ms of model.skills.slice().reverse()" (click)="removeCompetence(ms, model.skills)" type="button"
                    class="btn btn-pill btn-light btn-list">
                    <i class="fa fa-close"></i> {{ ms }}
                  </button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 text-right">
                If you cannot find the specified skill, you can also add your own skill here:
              </div>
              <div class="col-md-6">
                <input #skillExtra type="text" class="form-control" id="skillExtra" placeholder="Custom skill"
                  name="skillExtra" />
              </div>
              <div class="col-md-2">
                <button type="submit" class="btn btn-primary" tooltip="Add your custom skill."
                  (click)="addExtraSkill(skillExtra.value); skillExtra.value= ''">
                  Add Skill
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- Transversal skills card -->
        <div class="card card-accent-secondary">
          <div class="card-header">
            Transversal skills required
            <span
              tooltip="Transversal Skills are those typically considered as not specifically related to a particular job, task, academic discipline or area of knowledge but as skills that can be used in a wide variety of situations and work settings. Based on ESCO transversal and cross-sector skills."
              class="badge badge-primary badge-pill">i</span>
          </div>
          <div class="card-body" style="background-color: #faf9f8">
            <div class="row">
              <div class="col-md-3">
                <div class="input-group">
                  <ng-select *ngIf="isfullESCOcompetences" [items]="escoService.allcompetences" name="competences"
                    bindLabel="preferredLabel" groupBy="reuseLevel" [multiple]="true" [searchFn]="customSearchFn"
                    placeholder="Search..." [clearSearchOnAdd]="true" [(ngModel)]="model.competences">
                    <ng-template ng-optgroup-tmp let-item="item">
                      {{item.reuseLevel || 'Unnamed group'}}
                    </ng-template>
                  </ng-select>
                  <ng-select *ngIf="!isfullESCOcompetences" [items]="competences" name="competences"
                    bindLabel="preferredLabel" groupBy="reuseLevel" [multiple]="true" [searchFn]="customSearchFn"
                    placeholder="Search..." [clearSearchOnAdd]="true" [(ngModel)]="model.competences">
                    <ng-template ng-optgroup-tmp let-item="item">
                      {{item.reuseLevel || 'Unnamed group'}}
                    </ng-template>
                  </ng-select>
                </div>
              </div>
              <div class="col-md-3">
                <span class="input-group-prepend">
                  <label class="switch switch-label switch-pill switch-outline-primary-alt">
                    <input class="switch-input" type="checkbox" value="isfullESCOcompetences"
                      [(ngModel)]="isfullESCOcompetences" checked />
                    <span class="switch-slider" tooltip="Click here to add to the dropdown full list of ESCO skills."
                      data-checked="✓" data-unchecked="X"></span>
                  </label>
                  <div class="pl-1">Search <a href="https://ec.europa.eu/esco/portal/skill">ESCO</a> skills</div>
                </span>
              </div>
              <div class="col-md-6">
                <button *ngFor="let mc of model.competences" type="button" class="btn btn-pill btn-primary"
                  (click)="removeCompetence(mc, model.competences)">
                  <i class="fa fa-close"></i> {{ mc.preferredLabel }}
                </button>
              </div>
            </div>
            <div class="row pt-1">
              <div class="col-md-12">

                This service uses the <a href="http://ec.europa.eu/esco"> ESCO </a> classification of the
                European Commission.
              </div>
            </div>
            <div class="row pt-1">

              <div class="col-md-4 text-right">
                If you cannot find the specified transversal skill, you can also add your own here:
              </div>
              <div class="col-md-6">
                <input #competenceExtra type="text" class="form-control" id="competenceExtra"
                  placeholder="Custom transversal skill" name="competenceExtra"
                  (keyup)="competenceExtraAdd.disabled = false" />
              </div>
              <div class="col-md-2">
                <button #competenceExtraAdd type="submit" class="btn btn-primary"
                  tooltip="Add your custom transversal skill."
                  (click)="addExtraCompetence(competenceExtra.value); competenceExtra.value= ''; competenceExtraAdd.disabled = true"
                  disabled>
                  Add transversal skill
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/.col-->
</div>
<!--/.row-->
</div>
<div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Do you want to delete the skills associated with this knowledge?</h4>
        <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>There are {{associatedSkillsToDelete}} skills associated with the knowledge you deleted.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="dangerModal.hide()">No, keep them.</button>
        <button type="button" class="btn btn-danger" (click)="removeSkillsAssociated(); dangerModal.hide()">Yes, delete them.</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->