.btn-pill {
  margin: 2px;
}

.btn-list {
  display: list-item;
  text-align: left;
}

.dropdown-item {
  padding: 0px 15px 0px;
  border-bottom: 0;
}

.badge-pill {
  vertical-align: super;
}

#bubbles {
  margin: 0.2em;
}

h5 {
  display: inline;
}

#texBoK {
  font-size: smaller;
}

.inline {
  display: inline-block;
  margin-left: 1em;
  margin-top: 1em;
}

ng-select {
  width: inherit;
}

a {
  color: #1b8eb7 !important;
  cursor: pointer;
}

button a {
  color: white !important;
  cursor: pointer;
}

button span {
  color: white !important;
}

.btn-white {
  color: white !important;
}

.skillsTip {
  padding-bottom: 10px;
  color: #ef9a3d;
}