<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-4 col-md-2">
              Add New Occupational Profile
            </div>
            <div class="col-sm-4 offset-md-4 col-md-4">
            </div>
            <div class="col-sm-4 col-md-2 text-right">
              <button type="submit" class="btn btn-success">Save</button>
            </div>
          </div>
        </div>
        <div class="card-body">

          <form #newOPForm="ngForm">
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label for="title">Title</label>
                  <input type="text" class="form-control" id="title" [(ngModel)]="model.title" name="title" required>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="field">Field</label>
                  <input type="text" class="form-control" id="field" [(ngModel)]="model.field" name="field" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-11">
                <div class="form-group">
                  <label for="description">Description</label>
                  <input type="text" class="form-control" id="description" [(ngModel)]="model.description"
                    name="description">
                </div>
              </div>
              <div class="col-md-1">
                <div class="form-group">
                  <label for="eqf">EQF</label>
                  <input type="number" size="1" class="form-control" id="eqf" [(ngModel)]="model.eqf" name="eqf">
                </div>
              </div>

            </div>
          </form>


          <div class="row text-center">
            <div class="col-md-4">
              <h5>Knowledge</h5>

              <svg id="bubbles" width="500" height="500"> </svg>


            </div>
            <div class="col-md-4">
              <h5>Skills</h5>

              <div *ngIf="model.skills.length > 0">


              </div>



            </div>
            <div class="col-md-4">
              <h5>Competences</h5>


              <div class="input-group">
                <div class="input-group-prepend" dropdown>
                  <button type="button" class="btn btn-primary dropdown-toggle" dropdownToggle> Add more
                    <span class="caret"></span>
                  </button>
                  <div class="dropdown-menu" *dropdownMenu>
                    <button *ngFor="let c of filteredCompetences " class="dropdown-item" (click)="addCompetence(c)">{{c}}</button>
                  </div>
                </div>
                <input type="text" id="input-competence-filter" name="input-competence-filter" class="form-control" placeholder="Filter Competences" (keyup)="filterCompetence($event)">

              </div>

              <button *ngFor="let mc of model.competences" type="button" class="btn btn-pill btn-primary" (click)="removeCompetence(mc, model.competences)">{{mc}}</button>


<!--               <div class="form-group row">
                <label class="col-md-3 col-form-label" for="multiple-select">Add skills</label>
                <div class="col-md-9">
                  <select id="multiple-select" name="multiple-select" class="form-control" size="competences.length"
                    multiple>
                    <option *ngFor="let c of competences" value="c">{{c}}</option>

                  </select>
                </div>
              </div> -->

            </div>
          </div>

        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>