// Here you can add other styles

// Bok Concepts colors

.bok-GI {
  background-color: #40e0d0 !important;
  color: #faf9f8;
}

.bok-IP {
  background-color: #1f77b4 !important;
  color: #faf9f8;
}

.bok-CF {
  background-color: #aec7e8 !important;
  color: #faf9f8;
}

.bok-CV {
  background-color: #ff7f0e !important;
  color: #faf9f8;
}

.bok-DA {
  background-color: #ffbb78 !important;
  color: #faf9f8;
}

.bok-DM {
  background-color: #2ca02c !important;
  color: #faf9f8;
}

.bok-DN {
  background-color: #98df8a !important;
  color: #faf9f8;
}

.bok-PS {
  background-color: #d62728 !important;
  color: #faf9f8;
}

.bok-GD {
  background-color: #cc5b59 !important;
  color: #faf9f8;
}

.bok-GS {
  background-color: #9467bd !important;
  color: #faf9f8;
}

.bok-AM {
  background-color: #8c564b !important;
  color: #faf9f8;
}

.bok-MD {
  background-color: #8c564b !important;
  color: #faf9f8;
}

.bok-OI {
  background-color: #c49c94 !important;
  color: #faf9f8;
}

.bok-GC {
  background-color: #e377c2 !important;
  color: #faf9f8;
}

.bok-PP {
  background-color: #f7b6d2 !important;
  color: #faf9f8;
}

.bok-SD {
  background-color: #7f7f7f !important;
  color: #faf9f8;
}

.bok-SH {
  background-color: #c7c7c7 !important;
  color: #faf9f8;
}

.bok-TA {
  background-color: #bcbd22 !important;
  color: #faf9f8;
}

.bok-WB {
  background-color: #07561e !important;
  color: #faf9f8;
}

.bok-no {
  background-color: #17becf !important;
  color: #faf9f8;
}

.nav-bar-eo4geo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(assets/img/eo4geo_back_satellites.png);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1),
    0 6px 20px 0 rgba(161, 161, 161, 0.19);
}

.nav-bar-eo4geo a {
  position: unset !important;
}

.navbar-brand {
  margin: auto !important;
  margin-right: none !important;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: $gray-body;
  background-color: #faf9f8;
}

h1 {
  font-family: 'Roboto Slab', serif;
  color: #333c4e;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: $gray-body;
}

.card-header {
  background-color: white;
  border-bottom: none;
}

popover-container {
  min-width: max-content !important;
  max-width: none !important;
}

// ng-select from newop, hide selected options inside the dropdown
.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  display: none !important;
}