// Here you can add other styles

// Bok Concepts colors

.bok-AM {
    background-color: #1f77b4;
}
.bok-CF {
    background-color: #ff7f0e;
}
.bok-CV {
    background-color: #2ca02c;
}
.bok-DA {
    background-color: #d62728;
}
.bok-DM {
    background-color: #9467bd;
}
.bok-DN {
    background-color: #8c564b;
}
.bok-GC {
    background-color: #e377c2;
}
.bok-GD {
    background-color: #7f7f7f;
}
.bok-GI {
    background-color: #bcbd22;
}
.bok-GS {
    background-color: #17becf;
}
.bok-OI {
    background-color: #1f77b4;
}
.bok-WB {
    background-color: #ff7f0e;
}
.bok-no {
    background-color: #7f7f7f;
}
